In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv('../data/raw/housing.csv')

In [8]:
data[1:2]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY

In [9]:
len(data)

20640

In [25]:
t = pd.Series(data['ocean_proximity'].value_counts() / np.float(len(data)))
# frequent labels:
list(t[t >= 0.05].index)

['<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'NEAR BAY']

In [26]:
data['ocean_proximity'].value_counts() / np.float(len(data))

<1H OCEAN     0.442636
INLAND        0.317393
NEAR OCEAN    0.128779
NEAR BAY      0.110950
ISLAND        0.000242
Name: ocean_proximity, dtype: float64

In [28]:
test = data.copy()
print(test.isnull().sum())

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [29]:
print(test.isnull().sum())

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [34]:
test.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [35]:
test.columns[test.isna().any()].tolist()

['total_bedrooms']

In [37]:
test['households'].min()

1.0

In [40]:
test['total_bedrooms'].max()

6445.0

In [46]:
test['hold'] = test['total_bedrooms'] / test['households']

In [48]:
test.isnull()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,hold
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
20635,False,False,False,False,False,False,False,False,False,False,False
20636,False,False,False,False,False,False,False,False,False,False,False
20637,False,False,False,False,False,False,False,False,False,False,False
20638,False,False,False,False,False,False,False,False,False,False,False
20639,False,False,False,False,False,False,False,False,False,False,False

In [51]:
test.index

RangeIndex(start=0, stop=20640, step=1)

In [57]:
test.iloc[16171:16172]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,hold
16171,-122.5,37.79,52.0,8.0,1.0,13.0,1.0,15.0001,500001.0,NEAR BAY,1.0

In [59]:
test.isfinite()

AttributeError: 'DataFrame' object has no attribute 'isfinite'